@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Translator manager</h1>  
    <div style="display: flex;flex-direction: row;">
        <div style="width: 30%">hellow1</div>
        <div style="width: 70%">hellow2</div>
    </div>
</div>
